html, body {
    height: 100%;
}
#AddLocation {
    display: flex;
    height: calc(100vh - 51px);
    width: 100%;
    overflow: auto;
    background-color: #2E2E2E;
    padding: 50px 0;
}
#container {
    max-width: 60vw!important;
}
#submitBtn {
    margin-top: 20px;
}

@media only screen and (max-width: 750px) {
    #AddLocation {
        padding: 50px 10px;
    }
}