html, body {
    height: 100%;
}
#AddLocation {
    display: flex;
    height: calc(100vh - 51px);
    width: 100%;
    overflow: auto;
    background-color: #2E2E2E;
}
#submitBtn {
    margin-top: 20px;
}