html, body {
    height: 100%;
}
#category {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #2E2E2E;
    padding-top: 102px;
    padding-bottom: 51px;
}
#categoryContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
#postsOfCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
}
.postView {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}
.descAndTags {
    display: flex;
    margin-top: 2rem;
}
.postDesc {
    margin-bottom: 1rem;
}
.tagdiv {
    margin-bottom: 0.5rem!important;
}

@media only screen and (max-width: 750px) {
    #category {
        padding-top: 51px;
    }
    #categoryContainer {
        width: 90%;
    }
    #postsOfCategory {
        padding: 0;
    }
    .postTags {
        display: flex;
        flex-wrap: wrap;
    }
}