html, body {
    height: 100%;
}
#category {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 51px);
    width: 100%;
    background-color: #2E2E2E;
    padding: 50px 0;
}
#categoryContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}