#Profile {
    display: flex;
    height: calc(100vh - 51px);
    width: 100%;
    background-color: #2E2E2E;
    /* background-color: #F2F2F2; */
    /* background-color: #019EEF20; */
    /* background-color: #2E2E2E; */
}
@media only screen and (max-width: 750px) {
    #Profile {
        flex-direction: column;
        height: 100%;
    }
    html::-webkit-scrollbar {
        display: none;
    }
    #information {
        justify-content: center;
        margin-top: 3rem;
        border: 0!important;
    }
    #postsArea::-webkit-scrollbar {
        display: none;
    }
    #postsArea > h2 {
        text-align: center;
    }
}
#infoContainer {
    color: #FFFFFF90;
}
#information {
    border-right: 2px solid #FFFFFF60;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    overflow-x: hidden;
    overflow-y: auto;
}
#postsArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 2rem 3rem 0;
    overflow-y: scroll;
}
.feedItemIcon { 
    color: #FFFFFF!important;
}
.profilePost, .profileComment {
    padding: 5px!important;
    background-color: #242526!important;
    margin-bottom: 1rem!important;
}
.postTitleText, .postSummary {
    color: #FFFFFF80!important;
}
.postDate {
    color: #FFFFFF40!important;
}
.profileInfoSegment {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #2E2E2E!important;
}

/* template */
.profile_card {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 15px;
}
.profile_card .profile_thumbnail {
    border-radius: 15px 15px 0 0;
    padding: 20px 20px 0 20px;
    background-color: #242526;
    overflow: hidden;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.profile_card .profile_details {
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #242526;
}
.profile_card:hover .profile_details,
.profile_card:focus .profile_details,
.profile_card:hover .profile_thumbnail,
.profile_card:focus .profile_thumbnail,
.profile_card:hover .profileInfoSegment,
.profile_card:focus .profileInfoSegment {
    background-color: black!important;
}