#Register {
    display: flex;
    height: 100vh;
    width: 100vw;
    /* background-color: #F2F2F2; */
    /* background-color: #019EEF20; */
    background-color: #2E2E2E;
}
.ui.container {
    margin: auto auto!important;
}
.ui.segment {
    /* background-color: #F2F2F2; */
    /* background-color: #019EEF20; */
    /* background-color: #2E2E2E; */
    box-shadow: #121212 0 0 2rem 1rem;
}
/* .ui.input input {
    border: none!important;
    border-bottom: solid black 1px!important;
} */
.ui.button {
    font-size: 1.2rem!important;
    background-color: #06A67E!important;
    color: white;
}
.sub.header {
    margin-top: 2px!important;
}
/* img {
    margin-bottom: 1rem;
} */
/* .container .segment .form label{
    color: #E2E2E2!important;
} */